@page
@model AboutModel
@{
    ViewData["Title"] = "О компании";
}

<div class="container py-5">
    <h1 class="display-4 mb-4">О компании</h1>

    <div class="about-content-wrapper">
        <div class="about-image">
            <img src="/images/about.jpg"
                 alt="Наша оптовая база"
                 class="img-fluid rounded"
                 loading="lazy">
        </div>

        <div class="about-text">
            <h2>Наша история</h2>
            <p>Компания работает на рынке Калининградской области с 1993 года. Начав с небольших поставок, мы стали ведущим оптовым поставщиком в регионе. аааа ааа аааа ааа ааа ааа ааа ааа ааа ааа ааа ааа аааа аааааа аааа ааааа аааааааа а аааа ааа аааа ааа ааа ааа ааа ааа ааа ааа ааа ааа аааа аааааа аааа ааааа аааааааа аа аааа ааа аааа ааа ааа ааа ааа ааа ааа ааа ааа ааа аааа аааааа аааа ааааа аааааааа а аааа ааа аааа ааа ааа ааа ааа ааа ааа ааа ааа ааа аааа аааааа аааа ааааа аааааааа а аааа ааа аааа ааа ааа ааа ааа ааа ааа ааа ааа ааа аааа аааааа аааа ааааа аааааааа а</p>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h3>Контакты</h3>
                    <p>
                        <strong>Телефоны:</strong><br>
                        <a href="tel:+74012521756">8 (4012) 521-756</a><br>
                        <a href="tel:+74012521726">8 (4012) 521-726</a>
                    </p>
                    <p>
                        <strong>Директор:</strong><br>
                        <a href="tel:+79211040774">8 (921) 104-07-74</a><br>
                        <a href="tel:+79212655158">8 (921) 265-51-58</a>
                    </p>
                    <p>
                        <strong>Email:</strong>
                        <a href="mailto:larkov.kig@mail.ru">larkov.kig@mail.ru</a>
                    </p>
                </div>

                <div class="col-md-6">
                    <h3>График работы</h3>
                    <p>
                        Пн-Пт: 8:00-17:00<br>
                        Сб: 9:00-15:00<br>
                        Вс: выходной
                    </p>
                </div>
            </div>
        </div>
    </div>

        <div class="clearfix"></div>
    </div>

    <div class="bg-light p-4 rounded mb-5">
        <h2 class="mb-4">Наши преимущества</h2>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="p-3 bg-white rounded shadow-sm h-100">
                    <h4><i class="bi bi-building text-primary"></i> Склады</h4>
                    <p>Собственные складские помещения площадью 5000 м²</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 bg-white rounded shadow-sm h-100">
                    <h4><i class="bi bi-truck text-primary"></i> Доставка</h4>
                    <p>Собственный автопарк для оперативных поставок</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 bg-white rounded shadow-sm h-100">
                    <h4><i class="bi bi-award text-primary"></i> Качество</h4>
                    <p>Строгий контроль качества продукции</p>
                </div>
            </div>
        </div>
    </div>
</div>